{% extends "layout/one_column.html" %}
{% load cms_tags menu_tags sekizai_tags static %}
{% load staticfiles %}


{% block principal %}
    {{ block.super }}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "star-ratings/css/star-ratings.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
        <link rel="stylesheet" href="{% static "dsc/css/dsc.css" %}" media="all"  />
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
    {% endaddtoblock %}

{% endblock %}
