{% extends "layout/one_column.html" %}
{% load cms_tags menu_tags sekizai_tags static %}
{% load staticfiles %}

{% block bodyclasses %}layout_sidebar{% endblock %}

{% block principal %}
    {{ block.super }}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "dsc/css/dsc.css" %}" media="all"  />
        <link rel="stylesheet" href="{% static "star-ratings/css/star-ratings.css" %}">
    {% endaddtoblock %}
    {% addtoblock "js" %}<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% endaddtoblock %}
    <aside id="sidebar">
        {% block sidebar %}
            <h1>Recent activities</h1>


                {% static_placeholder "dsc_activity" %}

        {% endblock %}
    </aside>
{% endblock %}
