#dsc-detail-tabs {
    background: #eaeaea;
    border: none;
}
#dsc-detail-tabs .ui-widget-header {
    background: white;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-default {
    background: #fafafa;
    border: none;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-active {
    background: #eaeaea;
    border: none;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-default a {
    color: #a0a0a0;
}

#dsc-detail-tabs .ui-tabs-nav .ui-state-active a {
    color: #459e00;
}

#dsc-detail-tabs p {
    margin-top: 5pt;
    margin-bottom: 1pt;
}



tr.odd {
    background:#fafafa;

}

th.manufacturers {
    font-size:98%;
    padding-left:6px;
}

td.manufacturers {
    word-wrap: break-word;
    font-size:98%;
    padding:6px;
}

th.products {
    font-size:98%;
    padding-left:6px;
}

td.products {
    word-wrap: break-word;
    word-break: break-all;
    font-size:98%;
    padding:6px;

}

th.family {
    font-size:98%;
    padding-left:6px;
}

td.family {
    word-wrap: break-word;
    font-size:98%;
    padding:6px;

}

th.license {
    font-size:98%;
    padding-left:6px;
}

td.license {
    font-size:98%;
    padding:6px;

}

th.name {
    font-size:98%;
    padding-left:6px;
}

td.name {
    font-size:98%;
    padding:6px;
}

th.description {
    font-size:98%;
    padding-left:6px;
}

td.description {
    word-wrap: break-word;
    font-size:98%;
    padding:6px;
}

#dsc-detail-tabs h4 {
    margin-top: 7pt;
}

#table-container table {
    padding-right:4-px;
}

a.dsc-back  {
    float:right;
    height:40px;
    font-size:1em;
    display:inline-block;
    text-align:center;
    vertical-align:center;
    margin-left:10px;
    margin-right:20px;
    text-decoration:none;
    text-transform: uppercase;
    border:none;
    padding:10px;
}

a.hover.dsc-back  {
    float:right;
    height:40px;
    font-size:1em;
    display:inline-block;
    text-align:center;
    vertical-align:center;
    margin-left:10px;
    margin-right:20px;
    text-decoration:none;
    text-transform: uppercase;
    border:none;
    padding:10px;
}

a.visited.dsc-back  {
    float:right;
    height:40px;
    font-size:1em;
    display:inline-block;
    text-align:center;
    vertical-align:center;
    margin-left:10px;
    margin-right:20px;
    text-decoration:none;
    text-transform: uppercase;
    border:none;
    padding:10px;
}

.pagination, .next, .previous, .current, .cardinality {
   display: flex;
   flex-direction: row;
   /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
   justify-content: flex-start;
   /* Below removes bullets and cleans white-space */
   list-style: none;
   padding-right: 10px;


}
