#dsc-detail-tabs {
    background: #eaeaea;
    border: none;
}
#dsc-detail-tabs .ui-widget-header {
    background: white;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-default {
    background: #fafafa;
    border: none;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-active {
    background: #eaeaea;
    border: none;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-default a {
    color: #a0a0a0;
}

#dsc-detail-tabs .ui-tabs-nav .ui-state-active a {
    color: #459e00;
}

#dsc-detail-tabs p {
    margin-top: 5pt;
    margin-bottom: 1pt;
}

#dsc-detail-tabs h4 {
    margin-top: 7pt;
}