#dsc-detail-tabs {
    background: #eaeaea;
    border: none;
}
#dsc-detail-tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-active {
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}
#dsc-detail-tabs .ui-tabs-nav .ui-state-active a {
    color: #459e00;
}