{% extends request.is_ajax|yesno:"layout/ajax.html,layout/normal.html" %}
{% load cms_tags i18n thumbnail webu_utils %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block content_header %}
<h1 style="text-transform: none">{{deviceserver.name}}</h1>
{% endblock %}

{% block content %}

{% if deviceserver.is_valid %}
    <div id="fb-root"></div>

            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.8";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div><span style="float:right;"><div class="fb-like" data-href="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </span>

        {% if deviceserver.created_by == user %}
            <span style="margin-right:20px;">
                <a href="{% url 'deviceserver_update' deviceserver.pk %}" class="icon-edit">Edit</a>
            </span>
            <span style="margin:20px;">
                <a href="{% url 'deviceserver_delete' deviceserver.pk %}" class="icon-delete">Delete</a>

            </span>
        {% endif %}        .
    </div>
    <br />
    <hr/>
    <br />
{% endif %}


{% if deviceserver.status == 'deleted' %}
    <h4>This device server is deleted.<br />Information provided here may be no longer valid.</h4>
{% endif %}
{% if deviceserver.status != 'deleted' and not deviceserver.is_valid %}
    <h4>This is historical information of deviceserver.invalidate_activity.deviceserver.name device server. To

    </h4>
{% endif %}
<div><span style="font-weight:bold;">Status:</span> {{ deviceserver.status }}</div>
<div><span style="font-weight:bold;">Repository:</span>
    <a href="{{deviceserver.repository.url}}" target="_blank">
        {{deviceserver.repository.url}}
    </a>
</div>
<div><span style="font-weight:bold;">Contact:</span>
    {% for cl in deviceserver.device_classes.all %}
        {{ cl.info.contact_email|urlize }};
    {% endfor %}
</div>


<br />
<hr />
<br />



<div id="dsc-detail-tabs">
    <ul style="background: #35a635;color: rgb(85,85,85);">
        {% for cl_name, spec in specifications.items %}
            {% if spec.cl.is_valid %}
            <li>
                <a href="#dsc-{{spec.cl.name}}-class-tab"><span>{{spec.cl.name}}</span></a>
            </li>
            {% endif %}
        {% endfor %}
        <li style="float:right;">
            <a href="#dsc-documentation-tab"><span>Documentation</span></a>
        </li>
    </ul>

    {% for cl_name, spec in specifications.items %}
        {% if spec.cl.is_valid %}
        <div id="dsc-{{spec.cl.name}}-class-tab">
            <div><span style="font-weight:bold;">Description:</span> <br />{{ spec.cl.description }}</div>
            {% if spec.cl.info.platform %}
                <div><span style="font-weight:bold;">Platform:</span> {{spec.cl.info.platform}}</div>
            {% endif %}
            <div><span style="font-weight:bold;">License:</span>
                <a href="{{spec.cl.license.url}}" target="_blank">{{spec.cl.license.name}}</a>
            </div>
            <div><span style="font-weight:bold;">Contact:</span>
                {{ spec.cl.info.contact_email|urlize }}
            </div>
            {% if spec.cl.info.manufacturer or spec.cl.info.bus %}
                <h4>Hardware</h4>
                <hr />
                {% if spec.cl.info.manufacturer %}
                    <div><span style="font-weight:bold;">Manufacturer:</span> {{spec.cl.info.manufacturer}}
                    </div>
                    <div>
                        {% if spec.cl.info.product_reference %}
                            <span style="font-weight:bold;">Product:</span>{{spec.cl.info.product_reference}}
                        {% endif %}
                    </div>
                {% endif %}

                {% if spec.cl.info.bus %}
                    <div><span style="font-weight:bold;">Bus:</span> {{spec.cl.info.bus}}</div>
                {% endif %}

            {% endif %}


            <h4>Interface</h4>
            <hr />
            <div>
                <span style="font-weight:bold;">Attributes:</span>
                {% render_table spec.attributes_table %}
            </div>
            <div>
                <span style="font-weight:bold;">Commands:</span>
                {% render_table spec.commands_table %}
            </div>
            <div>
                <span style="font-weight:bold;">Pipes:</span>
                {% render_table spec.pipes_table %}
            </div>
            <div>
                <span style="font-weight:bold;">Properties:</span>
                {% render_table spec.properties_table %}
            </div>

        </div>
        {% endif %}
    {% endfor %}
    <div id="dsc-documentation-tab">
        {% for doc in deviceserver.documentation.all %}
            {% if doc.is_valid %}
                <div>
                    <span style="font-weight:bold;">{{doc.documentation_type}}:</span>
                    <a href="{{doc.url}}" target="_blank">{{doc.url}}</a>
                    <hr />
                </div>
            {% endif %}
        {% endfor %}
        {% if readme %}
            <div>
                <h4>README</h4>
                {{readme|linebreaks}}
            </div>
        {% endif %}

    </div>

</div>
<div>
    <span style="font-weight:bold;">Added by:</span>{{deviceserver.created_by}}
    <span style="font-weight:bold;">on:</span>{{deviceserver.created_at}}
</div>

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script language="JavaScript">
        $("#dsc-detail-tabs").tabs();
    </script>

{% endblock %}
