{% extends request.is_ajax|yesno:"layout/ajax.html,layout/normal.html" %}
{% load cms_tags i18n thumbnail webu_utils %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block content_header %}
<h1 style="text-transform: none">{{deviceserver.name}}</h1>
{% endblock %}
{% block content %}
<div><span style="font-weight:bold;">Downloads:</span> {{ deviceserver.no_downloads }}</div>
<div><span style="font-weight:bold;">Repository:</span> {{deviceserver.repository.url}}</div>

<div>
    <span style="font-weight:bold;">Added by:</span>{{deviceserver.created_by.name}}
    <span style="font-weight:bold;">on:</span>{{deviceserver.created_at}}
</div>

<hr />
<div id="dsc-detail-tabs">
    <ul style="background: #35a635;color: rgb(85,85,85);">
        {% for cl_name, spec in specifications.items %}

            <li>
                <a href="#dsc-{{spec.cl.name}}-class-tab"><span>{{spec.cl.name}}</span></a>
            </li>
        {% endfor %}
    </ul>

    {% for cl_name, spec in specifications.items %}

        <div id="dsc-{{spec.cl.name}}-class-tab">
            <div><span style="font-weight:bold;">Description:</span> {{ spec.cl.description }}</div>
            {% if spec.cl.info.platform %}
                <div><span style="font-weight:bold;">Platform:</span> {{spec.cl.info.platform}}</div>
            {% endif %}
            <div><span style="font-weight:bold;">License:</span>
                <a href="{{spec.cl.license.url}}" target="_blank">{{spec.cl.license.name}}</a>
            </div>
            {% if spec.cl.info.manufacturer or spec.cl.info.bus %}
                <h4>Hardware</h4>
                <hr />
                {% if spec.cl.info.manufacturer %}
                    <div><span style="font-weight:bold;">Manufacturer:</span> {{spec.cl.info.manufacturer}}
                        {% if spec.cl.info.product_reference %},
                            <span style="font-weight:bold;">Product:</span>{{spec.cl.info.product_reference}}
                        {% endif %}
                    </div>
                {% endif %}

                {% if spec.cl.info.bus %}
                    <div><span style="font-weight:bold;">Bus:</span> {{spec.cl.info.bus}}</div>
                {% endif %}

            {% endif %}


            <h4>Interface</h4>
            <hr />
            <div>
                <span style="font-weight:bold;">Attributes:</span>
                {% render_table spec.attributes_table %}
            </div>
            <div>
                <span style="font-weight:bold;">Commands:</span>
                {% render_table spec.commands_table %}
            </div>
            <div>
                <span style="font-weight:bold;">Pipes:</span>
                {% render_table spec.pipes_table %}
            </div>
            <div>
                <span style="font-weight:bold;">Properties:</span>
                {% render_table spec.properties_table %}
            </div>

        </div>
    {% endfor %}

</div>

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script language="JavaScript">
        $("#dsc-detail-tabs").tabs();
    </script>

{% endblock %}
