{% extends request.is_ajax|yesno:"layout/ajax.html,dsc/layout/normal.html" %}
{% load cms_tags i18n thumbnail webu_utils %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block content_header %}
<h1 style="text-transform: none">Update {{object.name}}</h1>
{% endblock %}
{% block content %}

<h4>Please provide updatede information for the device server.</h4>
<form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tbody><tr><td colspan="2">
            {{ form.non_field_errors }}
        </td></tr></tbody>
        {% include 'dsc/inc/deviceserver_form_basic_info.html' %}

        {% include 'dsc/inc/deviceserver_form_repository.html' %}

        {% include 'dsc/inc/deviceserver_form_documentation.html' %}
    </table>

    <button type="submit" class="save btn btn-default">Update</button>
</form>

{% endblock %}
