{% extends request.is_ajax|yesno:"layout/ajax.html,layout/normal.html" %}
{% load staticfiles %}
{% load cms_tags i18n thumbnail webu_utils %}
{% load render_table from django_tables2 %}
{% include



{% block content_header %}
<h1 style="text-transform: none">{{deviceserver.name}}</h1>
{% endblock %}
{% block content %}
        {% url 'deviceserver_add' as add_url %}

        <div>
            Here you will find a list of device servers available in the community. Device servers provides among others
            connectivity to equipment. So, if you want to connect your hardware to Tango Controls please check this list.
        </div>

        <div>
            <h4>Did you wrote a new device server?
            <a href="{{ add_url }}">Please share it.</a></h4>
        </div>
        <div>
            {{ form.as_p }}
        </div>

        {# % render_table table %  #}





{% endblock %}

{% block extra_script %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}


{% endblock %}
