{% load cms_tags menu_tags sekizai_tags static %}

<tbody id="dsc_status">
    <tr>
        <th>{{ form.development_status.label_tag }}</th><td>{{ form.development_status }}</td>
    </tr>
    {% if form.repository_tag.errors %}
    <tr><td colspan="2">{{ form.repository_tag.errors }}</td></tr>
    {% endif %}
    <tr>
        <th><label>Release:</label></th><td>{{ form.repository_tag }}</td>
    </tr>
    {% if perms.dsc.admin_deviceserver %}
    <tr>
        <th>{{ form.certified.label_tag }}</th><td>{{ form.certified }}</td>
    </tr>
    {% endif %}
</tbody>
<tbody >
    {% if form.picture.errors %}
        <tr><td colspan="3">{{ form.picture.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.picture.label_tag }}</th><td colspan="2">{{ form.picture }}</td>
    </tr>
    <tr><th colspan="2"><label>Use device server name and description from class?</label></th>
        <td>{{ form.ds_info_copy }}</td>
    </tr>
</tbody>
<tbody id="dsc_device_server_info">
    {% if form.name.errors %}
            <tr><td colspan="3">{{ form.name.errors }}</td></tr>
    {% endif %}
     <tr>
        <th>{{ form.name.label_tag }}</th><td colspan="2">{{ form.name }}</td>
    </tr>

    {% if form.description.errors %}
        <tr><td colspan="3">{{ form.description.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.description.label_tag }}</th><td colspan="2">{{ form.description }}</td>
    </tr>

</tbody>
<tbody id="dsc_selelct_xmi_manual">
    <tr><th colspan="3"><label>Class info source:</label></th></tr>
    <tr><th><label>.XMI upload</label></th><th><label>.XMI URL</label></th><th><label>Manual</label></th></tr>
    <tr>
        <td>{{ form.use_uploaded_xmi_file }}</td>
        <td>{{ form.use_url_xmi_file }}</td>
        <td>{{ form.use_manual_info }}</td>
    </tr>
</tbody>
{% if form.last_update_method %}
<tbody id="update_method_change_warning">
<tr><th colspan="3">
    {{ form.last_update_method }}
    <label>
    The class has been updated or created
    {% if form.last_update_method.value == 'manual' %}
        manually.
    {% endif %}
    {% if form.last_update_method.value == 'url' %}
        with an URL to .XMI file.
    {% endif %}
    {% if form.last_update_method.value == 'file' %}
        with an uploaded .xmi file.
    {% endif %}
    You are going to use other method. It will overwrite the information
    which may lead to lost of the last changes.
    If you are sure you would like to do this please select 'Change update method' below.
    </label>
</th></tr>
    <tr>
        <th colspan="2"><label>Change update method</label></th><td>{{ form.change_update_method }}</td>
    </tr>
</tbody>
{% endif %}

<tbody id="dsc_add_class">
    {% if form.add_class %}
    <tr>
        <th colspan="2">{{ form.add_class.label_tag }}</th><td>{{ form.add_class }}</td>
    </tr>
    {% endif %}
</tbody>
<tbody id="dsc_xmi">
    {% if form.xmi_file.errors %}
    <tr><td colspan="3">{{ form.xmi_file.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.xmi_file.label_tag }}</th><td colspan="2">{{ form.xmi_file }}</td>
    </tr>
</tbody>
<tbody id="dsc_xmi_url">
    {% if form.xmi_file.errors %}
    <tr><td colspan="2">{{ form.xmi_file_url.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.xmi_file_url.label_tag }}</th><td colspan="2">{{ form.xmi_file_url }}</td>
    </tr>
</tbody>

<tbody id="dsc_manual">
    <tr><th colspan="3">
        {% if operation == 'update' %}
            You are about to update information manually.
        {% else %}
            You are about to enter information manually.
        {% endif %}
        However, this way you cannot provide nor change detail information on class interface
        (attributes, commands, pipes and properties). These can only be entered via an .XMI file.
    </th></tr>

    {% if form.class_name.errors %}
        <tr id="dsc_class_name_e"> <td colspan="2">{{ form.class_name.errors }}</td></tr>
    {% endif %}
     <tr id="dsc_class_name">
        <th>{{ form.class_name.label_tag }}</th><td colspan="2">{{ form.class_name }}</td>
    </tr>

    {% if form.class_description.errors %}
        <tr id="dsc_class_description_e"><td colspan="2">{{ form.class_description.errors }}</td></tr>
    {% endif %}
    <tr id="dsc_class_description">
        <th>{{ form.class_description.label_tag }}</th><td colspan="2">{{ form.class_description }}</td>
    </tr>

    {% if form.contact_email.errors %}
        <tr><td colspan="2">{{ form.contact_email.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.contact_email.label_tag }}</th><td colspan="2">{{ form.contact_email }}</td>
    </tr>

    {% if form.platform.errors %}
        <tr><td colspan="2">{{ form.platform.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.platform.label_tag }}</th><td colspan="2">{{ form.platform }}</td>
    </tr>

    {% if form.language.errors %}
        <tr><td colspan="2">{{ form.language.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.language.label_tag }}</th><td colspan="2">{{ form.language }}</td>
    </tr>

    {% if form.license_name.errors %}
        <tr><td colspan="2">{{ form.license_name.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.license_name.label_tag }}</th><td  colspan="2">{{ form.license_name }}</td>
    </tr>

    {% if form.class_copyright.errors %}
        <tr><td colspan="2">{{ form.class_copyright.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.class_copyright.label_tag }}</th><td  colspan="2">{{ form.class_copyright }}</td>
    </tr>

    {% if form.class_family.errors %}
        <tr><td colspan="2">{{ form.class_family.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.class_family.label_tag }}</th><td colspan="2">{{ form.class_family }}</td>
    </tr>

    {% if form.manufacturer.errors %}
        <tr><td colspan="2">{{ form.manufacturer.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.manufacturer.label_tag }}</th><td  colspan="2">{{ form.manufacturer }}</td>
    </tr>

    {% if form.product_reference.errors %}
        <tr><td colspan="2">{{ form.product_reference.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.product_reference.label_tag }}</th><td  colspan="2">{{ form.product_reference }}</td>
    </tr>

    {% if form.bus.errors %}
        <tr><td colspan="2">{{ form.bus.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.bus.label_tag }}</th><td colspan="2">{{ form.bus }}</td>
    </tr>

    {% if form.key_words.errors %}
        <tr><td colspan="2">{{ form.key_words.errors }}</td></tr>
    {% endif %}
    <tr>
        <th>{{ form.key_words.label_tag }}</th><td  colspan="2">{{ form.key_words }}</td>
    </tr>

</tbody>


{% addtoblock 'extrajs' %}

    <script language="JavaScript">

        $("#dsc_add_class").hide();

        {% if form.ds_info_copy.value %}
        $("#dsc_device_server_info").hide();
        {% else %}
        $("#dsc_device_server_info").show();
        {% endif %}
        $("#update_method_change_warning").hide();

        $('#id_ds_info_copy').change(function() {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                 $("#dsc_device_server_info").hide();

            } else {
                // the checkbox is now no longer checked
                $("#dsc_device_server_info").show();
            }
        });

        {% if form.use_uploaded_xmi_file.value %}
        $("#dsc_add_class").show();
        $("#dsc_xmi").show();
        $('#id_use_uploaded_xmi_file')[0].checked = true;
            {% if form.last_update_method %}
                {% if form.last_update_method.value != 'file' %}
        $("#update_method_change_warning").show();
                {% endif %}
            {% endif %}
        {% else %}
        $("#dsc_xmi").hide();
        $('#id_use_uploaded_xmi_file')[0].checked = false;
        {% endif %}

        {% if form.use_url_xmi_file.value %}
        $("#dsc_add_class").show();
        $("#dsc_xmi_url").show();
        $('#id_use_url_xmi_file')[0].checked = true;
            {% if form.last_update_method %}
                {% if form.last_update_method.value != 'url' %}
        $("#update_method_change_warning").show();
                {% endif %}
            {% endif %}
        {% else %}
        $("#dsc_xmi_url").hide();
        $('#id_use_url_xmi_file')[0].checked = false;
        {% endif %}

        {% if form.use_manual_info.value %}
        $("#id_add_class")[0].checked = false
        $("#dsc_manual").show();
        $('#id_use_manual_info')[0].checked = true;
        {% if form.last_update_method %}
                {% if form.last_update_method.value != 'manual' %}
        $("#update_method_change_warning").show();
                {% endif %}
            {% endif %}
        {% else %}
        $("#dsc_manual").hide();
        $('#id_use_manual_info')[0].checked = false;
        {% endif %}

        // handling showing/hiding .xmi file field
        $('#id_use_uploaded_xmi_file').change(function() {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#dsc_xmi').show();
                $("#dsc_add_class").show();
                $('#dsc_xmi_url').hide();
                $('#dsc_manual').hide();
                $('#id_use_manual_info')[0].checked = false;
                $('#id_use_url_xmi_file')[0].checked = false;
                {% if form.last_update_method %}
                    {% if form.last_update_method.value != 'file' %}
                $("#update_method_change_warning").show();
                    {% else %}
                $("#update_method_change_warning").hide();
                    {% endif %}
                {% endif %}


            } else {
                // the checkbox is now no longer checked
                $('#dsc_xmi').hide();
                $("#dsc_add_class").hide();
                {% if not form.add_class %}
                $('#dsc_xmi_url').show();
                $("#dsc_add_class").show();
                $('#id_use_url_xmi_file')[0].checked = true;
                {% endif %}
                $('#id_use_manual_info')[0].checked = false;
                {% if form.last_update_method %}
                $("#update_method_change_warning").hide();
                {% endif %}

            }
        });

        // handling showing/hiding .xmi url field
        $('#id_use_url_xmi_file').change(function() {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#dsc_xmi').hide();
                $("#dsc_add_class").show();
                $('#dsc_xmi_url').show();
                $('#dsc_manual').hide();
                $('#id_use_manual_info')[0].checked = false;
                $('#id_use_uploaded_xmi_file')[0].checked = false;
                {% if form.last_update_method %}
                    {% if form.last_update_method.value != 'url' %}
                $("#update_method_change_warning").show();
                    {% else %}
                $("#update_method_change_warning").hide();
                    {% endif %}
                {% endif %}

            } else {
                // the checkbox is now no longer checked

                $('#dsc_xmi_url').hide();
                $("#dsc_add_class").hide();
                {% if not form.add_class %}
                $('#id_use_uploaded_xmi_file')[0].checked = true;
                $("#dsc_add_class").show();
                $('#dsc_xmi').show();
                {% endif %}
                $('#id_use_manual_info')[0].checked = false;
                {% if form.last_update_method %}
                $("#update_method_change_warning").hide();
                {% endif %}

            }
        });

        $('#id_use_manual_info').change(function() {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#dsc_xmi').hide();
                $("#dsc_add_class").show();
                // $("#id_add_class")[0].checked = false;
                $('#dsc_xmi_url').hide();
                $('#dsc_manual').show();
                $('#id_use_uploaded_xmi_file')[0].checked = false;
                $('#id_use_url_xmi_file')[0].checked = false;
                {% if form.last_update_method %}
                    {% if form.last_update_method.value != 'manual' %}
                $("#update_method_change_warning").show();
                    {% else %}
                $("#update_method_change_warning").hide();
                    {% endif %}
                {% endif %}
            } else {
                // the checkbox is now no longer checked
                $("#dsc_add_class").hide();
                {% if not form.add_class %}
                $("#dsc_add_class").show();
                $('#id_use_uploaded_xmi_file')[0].checked = true;
                $('#dsc_xmi').show();
                {% endif %}
                $('#dsc_manual').hide();
                {% if form.last_update_method %}
                $("#update_method_change_warning").hide();
                {% endif %}

            }
        });




    </script>

{% endaddtoblock %}